.profile__subtitle {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 800px) {
  .profile__subtitle {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 621px) {
  .profile__subtitle {
    margin: 8px 0 0;
  }
}

@media (max-width: 425px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}
