.profile__edit-button {
  display: inline-flex;
  border: none;
  outline: none;
  padding: 0;
  min-width: 24px;
  height: 24px;
  margin: 8px 0 0 18px;
  background: url(../../../images/edit-button.svg) no-repeat center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 621px) {
  .profile__edit-button {
    margin: 26px 0 0 18px;
  }
}

@media (max-width: 425px) {
  .profile__edit-button {
    margin: 26px 0 0 10px;
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}
