.header__exit {
  outline: none;
  text-decoration: none;
  color: #a9a9a9;
  margin: 0 0 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  transition: 0.3s all;
}

.header__exit:hover {
  opacity: 0.6;
}

@media (max-width: 621px) {
  .header__exit {
    margin: 20px 0 0 0;
  }
}
