.element__like {
  display: block;
  min-width: 22px;
  height: 19px;
  margin: 0;
  background: url(../../../images/like.svg) no-repeat center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.element__like:hover {
  opacity: 0.5;
}
